<div class="row justify-content-center mt-5">
  <div *ngFor="let game of games | async" class="col-4 mb-5">
      <div class="card">
          <div class="card-header" style="background-color: rgb(255, 255, 255) !important;">
          {{game.developed}}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{game.title}}</h5>
            <p class="card-text">{{game.genre}}</p>
            <p class="card-text">{{game.developed}}</p>
          </div>
      </div>
  </div>
</div>